.product-original-price {
  font-size: 16px;
  font-weight: normal;
  color: #a6a6a6;
}
.product-discount-price {
  font-size: 18px;
  color: #dc2626;
  font-weight: bold;
}
.button-buy {
  padding: 10px 50px !important;
}
.button-more-cart {
  padding: 10px 30px !important;
  border: 1px solid #0c7eef !important;
  color: #0c7eef !important;
  &:hover {
    color: #ffffff !important;
    background-color: #0c7eef !important;
  }
}
.table-title {
  text-align: center;
  background-color: #eeeeee;
  color: #000000;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px; /* Cập nhật font-size cho toàn bộ bảng */
}

.table-cell-atributes-value {
  font-weight: normal;
  font-style: italic;
  padding: 8px;
  border: 1px solid #ddd;
}
.table-cell-atributes{
  padding: 8px;
  border: 1px solid #ddd;
}

.description {
  img, p, div {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  table {
    width: 100%; /* Đảm bảo bảng không bị vượt container */
  }
}
