/* Sidebar */

.wrapper {
  position: fixed;
  top: var(--default-layout-header-height); /* Đặt dưới header */
  left: 0;
  width: 100%;
  height: var(--height-navbar);
  background-color: #0070f4;
  z-index: 10;
  .submenu {
    position: absolute; // Đặt submenu ở vị trí tuyệt đối
    top: 100%; // Đặt submenu dưới menu cha
    background-color: #0070f4;
    // Màu nền xanh (bootstrap blue)
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 28rem;
    border-radius: 5px;
    cursor: pointer;

    .menu-item {
      color: white; // Chữ màu trắng
      text-decoration: none;
      transition: background 0.3s ease;

      &:hover {
        background-color: #0056b3; // Đổi màu khi hover
      }
     
      .title {
        margin-left: 8px; // Khoảng cách giữa icon và text
      }
    }
    
  }
  .menu-item {
    position: relative; // Để submenu có thể dựa vào nó
  }
}
