.nav-menu {
  padding: 0 50px;
  display: flex;
  height: var(--height-navbar);
}

.menu-item {
  height: var(--height-navbar);
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  align-items: center;
  padding: 7px 15px;
  border-radius: 0.5rem;
  transition: background ease-in-out 200ms;

  &.active {
    color: rgb(240, 235, 235);
    background-color: #005ac3;
  }
  &:not(.active):hover {
    background-color: #005ac3;
  }
}
.icon{
  color: white;
}
.title {
  color: white !important;
  margin-left: 10px;
}
